<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NotalVision.HPHP.Telemedicine.Properties.Settings.EmbeddedConnectionString" connectionString="Data Source=172.30.2.177;Initial Catalog=Embedded;Persist Security Info=True;User ID=NotalUser;Password=Vision123" providerName="System.Data.SqlClient"/>
    <add name="NotalVision.HPHP.Telemedicine.Properties.Settings.EmbeddedConnectionString1" connectionString="Data Source=webqa;Initial Catalog=Embedded;Persist Security Info=True;User ID=NotalUser;Password=Vision123" providerName="System.Data.SqlClient"/>
    <add name="NotalVision.HPHP.Telemedicine.Properties.Settings.EmbeddedDevConnectionString" connectionString="Data Source=DBSERVER;Initial Catalog=EmbeddedDev;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
